<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Potree Viewer</title>

    <link rel="stylesheet" type="text/css" href="/static/libs/potree/potree.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/openlayers3/ol.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/spectrum/spectrum.css">
    <link rel="stylesheet" type="text/css" href="/static/libs/jstree/themes/mixed/style.css">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>

<body>
<script src="/static/libs/jquery/jquery-3.1.1.min.js"></script>
<script src="/static/libs/spectrum/spectrum.js"></script>
<script src="/static/libs/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="/static/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/libs/three.js/build/three.min.js"></script>
<script src="/static/libs/other/BinaryHeap.js"></script>
<script src="/static/libs/tween/tween.min.js"></script>
<script src="/static/libs/d3/d3.js"></script>
<script src="/static/libs/proj4/proj4.js"></script>
<script src="/static/libs/openlayers3/ol.js"></script>
<script src="/static/libs/i18next/i18next.js"></script>
<script src="/static/libs/jstree/jstree.js"></script>
<script src="/static/libs/potree/potree.js"></script>
<script src="/static/libs/plasio/js/laslaz.js"></script>

<!-- INCLUDE ADDITIONAL DEPENDENCIES HERE -->
viewer.setEDLEnabled(false);
viewer.setBackground("gradient"); // ["skybox", "gradient", "black", "white"];
viewer.setDescription(``);

<div class="potree_container" style="position: absolute; width: 100%; height: 100%; left: 0px; top: 0px; ">
    <div id="potree_render_area"></div>
    <div id="potree_sidebar_container"></div>
</div>

<div id="point_data" hidden></div>

<script>

    window.viewer = new Potree.Viewer(document.getElementById("potree_render_area"));

    viewer.setEDLEnabled(true);
    viewer.setFOV(60);
    viewer.setPointBudget(1 * 1000 * 1000);
    document.title = "";
    viewer.setEDLEnabled(false);
    viewer.setBackground("gradient"); // ["skybox", "gradient", "black", "white"];
    viewer.setDescription(``);
    viewer.loadSettingsFromURL();

    viewer.loadGUI(() => {
        viewer.setLanguage('en');
        $("#menu_appearance").next().show();
        $("#menu_tools").next().show();
        $("#menu_scene").next().show();
    });

    $("#potree_render_area").append(
        '<div class="potree-overlay">' +
        '<button type="button" id="start_button" class="reg-button">Choose Point</button>' +
        '</div>'
    );

    Potree.loadPointCloud("/static/{{ ident }}/pointclouds/view/cloud.js", "view", e => {
        let pointcloud = e.pointcloud;
        let material = pointcloud.material;
        viewer.scene.addPointCloud(pointcloud);
        material.pointColorType = Potree.PointColorType.RGB; // any Potree.PointColorType.XXXX
        material.size = 1;
        material.pointSizeType = Potree.PointSizeType.ADAPTIVE;
        material.shape = Potree.PointShape.SQUARE;
        viewer.fitToScreen();
    });

    currentPointIndex = 0;
    selectedPoints = [];

    function setupMeasure(callback) {
        let measuringTool = new Potree.MeasuringTool(viewer);
        let measurement = measuringTool.startInsertion({
            showDistances: false,
            showAngles: false,
            showCoordinates: true,
            showArea: false,
            closed: true,
            maxMarkers: 1,
            name: 'Point'
        });

        let mUpCallback = (e) => {
            viewer.renderer.domElement.removeEventListener('mouseup', mUpCallback, true);
            let point = measurement.points[measurement.points.length - 1];
            callback(point);
        };

        viewer.renderer.domElement.addEventListener('mouseup', mUpCallback, true);
    }

    function completeCallback(point) {
        selectedPoints.push([point.position.x, point.position.y, point.position.z]);
        if (currentPointIndex < 2) {
            currentPointIndex += 1;
        }
        else if (currentPointIndex == 2) {
            $("#start_button").prop('disabled', true);
            let data_element = document.getElementById("point_data");
            data_element.innerHTML = JSON.stringify(selectedPoints);
        }
    }

    $("#start_button").click(function () {
        if (currentPointIndex <= 2) {
            setupMeasure(completeCallback);
        }
    });

</script>


</body>
</html>
